.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  border: #1e196b 1px solid;
}
.homeContainer img {
  width: 100%;
}
.greetingContainer {
  background-image: linear-gradient(to right, #f36f21, #ffdd02);
  height: 45%;
  width: 100%;
  color: white;
  justify-content: center;
  text-align: left;

  border-bottom-left-radius: 50% 120px;
  border-bottom-right-radius: 50% 120px;
}
.statusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 20%;
}
.statusBar h3 {
  color: black;
}
.statusBar .statusIcons {
  color: black;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.statusBar img {
  width: 25%;
}
.greeting {
  margin-left: 15px;
}
.greetingContainer button {
  background: #1e196b;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
}
.fuelFoodContainer {
  display: flex;
  gap: 16px;
  padding: 20px;
}
.leftContainer {
  flex: 1;
  background: linear-gradient(to bottom right, #f76b1c, #ffcc00);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px; /* taller box */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
.leftContainer img {
  width: 30%;
  height: auto;
}
.rightContainer img {
  width: 30%;
  height: auto;
}
.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.orderFoodContainer,
.nearMeContainer {
  background: linear-gradient(to bottom right, #ffcc00, #ffa500);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; /* shorter stacked boxes */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navBarContainer {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 20px;
  width: 80%;
  cursor: pointer;
}
