.curveHeader {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-top: -10px;
}

.blueCurve,
.yellowCurve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.yellowCurve {
  z-index: 1;
}

.blueCurve {
  z-index: 0;
}
